# requirements.txt
ollama
chromadb
langchain
langgraph
langchain-community
python-dotenv
presidio-analyzer
presidio-anonymizer
pypdf
unstructured
langdetect
langchain-groq
langchain-huggingface 
sentence-transformers
fastapi
uvicorn
python-multipart